
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,189;1,189&family=Mulish:ital,wght@0,467;1,467&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:ital,wght@0,100;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,700;1,800;1,900&family=Libre+Franklin:ital,wght@0,189;1,189&family=Mulish:ital,wght@0,467;1,467&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:ital,wght@0,100;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,700;1,800;1,900&family=Libre+Franklin:ital,wght@0,189;1,189&family=Mulish:ital,wght@0,467;1,467&family=Ruda:wght@400..900&display=swap');




:root{
    --main-font : 'Mulish', sans-serif;
    --sec-font : 'Libre Franklin', sans-serif;
    --third-font : 'Alegreya Sans SC', sans-serif;
    --fourth-font : 'Ruda', sans-serif;
}
* {
    padding: 0;
    margin: 0;
}

/* .row >*{
    width: 100%;
    max-width: 100%;
} */
.about-header {
  /* background-color: rgb(226, 130, 85); */
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.05);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(11.5px);
  -webkit-backdrop-filter: blur(11.5px);
  height: 190px;
}
.about {
  /* background-color: #f5a623; */
  background-image: url("../../Assets/images/sky.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.header-img img {
  height: 400px;
  bottom: -132px;
  position: absolute;
}

.header-img {
  overflow: hidden;
  height: inherit;
  position: relative;
}
.full-main {
  height: 600px;
  position: relative;
}
.main-l {
  background-color: #bfbfbf;
  height: 600px;
}
.main-r {
  height: 600px;
  background-color: #404040;
}
.about-main {
  position: absolute;
  top: 33%;
  left: 33%;
  /* transform: translate(-50%, -50%); */
  height: 500px;
  width: 500px;

  background: rgba(255, 255, 255, 0.06);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.5px);
  -webkit-backdrop-filter: blur(5.5px);
  border: 1px solid rgba(255, 255, 255, 0.14);
}

/*! --------------------------------------------------------------------- */
.c-6 {
  background-color: #bfbfbf;
  width: 200px;
  height: 200px;
}

.size {
  font-size: large;
  text-transform: capitalize;
}
.progress {
  overflow: visible;
  position: relative;
}
.progress-bar span {
  position: absolute;
  top: -39px;
  right: 0;
  font-size: 16px;
  font-weight: 400;
  color: #010101;
}
.progress-bar {
  position: relative;
  overflow: visible;
 
  background-color: #ffc107 !important;
}
.l-info {
  width: 100px;
  font-weight: 700;
  font-size: 14px;
  color: black;
}
.r-info {
  width: calc(100% - 110px);
  color: #ffc107;
}
.about-info {
  display: inline-block;
  width: 100%;
}
.r-info > a {
  color: #ffc107;
}
.main-font{
    font-family: var(--main-font);
}
.sec-font{
    font-family: var(--sec-font);
}
.t-font{
    font-family: var(--third-font);
}
.f-font{
    font-family: var(--fourth-font);
}
.skill p{
    font-family: var(--third-font);
  }
@media (max-width: 512px) {
  .about-main {
    position: absolute;
    top: 43%;
    left: 14%;
    /* transform: translate(-50%, -50%); */
    height: 300px;
    width: 300px;

    background: rgba(255, 255, 255, 0.06);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    border: 1px solid rgba(255, 255, 255, 0.14);
  }
  .c-6 {
    width: 100%;
  }
  .gap-5 {
    gap: 15px !important;
  }
  .r-info {
    width: calc(100% - 110px);
    color: #ffc107;
  }
  .r-info > a {
    color: #ffc107;
  }
  .l-info {
    width: 100px;
    font-weight: 700;
    font-size: 14px;
    color: black;
  }
  .progress-bar {
    position: relative;
    overflow: visible;
    /* margin-bottom: 30px; */
    background-color: #ffc107  !important;
  }

  .header-img{
    display: none;
  }
  .ps-lg-5 {
    /* margin-top: 10px; */
    text-align: center;
  }
  .about-header{
    height: 80px;
    /* margin: auto; */
  }

}
